<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Notify by Kolosek.com we will let you know when your words come out on any website you want to track. Kind regards!</h1>
  </body>
</html>