<div class="text-center" style="padding-top:100px">
  <font color="white"> 
    <h1>Your task is now active!</h1>
    <h3>We will email you as soon as Fetch detects a change! </h3>
  </font>
</div>
<%= link_to('New task', root_path, class: "btn btn-lg btn-primary") %>
<% if !user_signed_in? %>
<%= link_to('Login', new_user_session_path,class: "btn btn-lg btn-primary") %> 
<%= link_to('Register', new_user_registration_path,class: "btn btn-lg btn-primary") %>
<% else %>
<%= link_to('Tasks',tasks_path,class:"btn btn-lg btn-primary") %>
<% end %>