<div class="text-center" style="padding-top:100px">
  <div class="container">
    <div style="margin-top:-100px; float: right" class="user">
      <%= link_to('New task', root_path, class: "btn btn-lg btn-primary") %>
      <%= render 'buttons' %>
    </div>
    <font color="white"> 
      <h1>Your task is now active!</h1>
      <h3>We will email you as soon as Fetch detects a change! </h3>
    </font>
  </div>
</div>