<% if flash[:notice] %>
<div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:notice].blank? %>
  <h1> flash hash is blank </h1>
<% end %>

<body style="background-color:#419CD9">
	<div class="text-center">
		<font color="white"> 
			<h1>Do You want to submit another task?</h1>
		</font>

		<%= link_to 'New Task', new_task_path, {:style=>'color:#000000;', :class => "btn btn-default"} %>
	</div>
</body>