<div align="center">
	<% if flash[:notice].blank? %>
	  <h2> TASK WAS NOT CREATED! </h2>
	<% end %>
</div>

<body style="background-color:#419CD9">
	<div class="text-center" style="padding-top:140px">
		<font color="white"> 
			<h1>Do You want to create a new notification?</h1>
		</font>

		<%= link_to 'New Notification', root_path, {class: "btn btn-lg btn-success"} %>
	</div>
</body>