<body class="purple">

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 sign-form">
				<h1 class="title">Kolosek<span class="titlelight">Notify</span></h1>
				<h4 class="title">Forgot your password?</h4>

				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				<%= devise_error_messages! %>
				<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel panel-default login-panel top">
					<div class="panel-body">   
						<div class="col-sm-12">
							<div class="row inputgroup">
								<%= f.text_field :email, type: "email", class: "inputfield", placeholder: 'Your e-mail address', required: "true" %>
							</div>
							<div class="row">
								<div class="col-sm-12 text-center">
									<%= f.submit "Send me reset password instructions", :class => 'btn btn-md loginbtn center' %>
								</div>
							</div>
						</div>
					</div>
				</div>
					</div>
				</div>
				<% end %>

			</div>
		</div>
	</div>
</body>
