$color1: #6D60B0; /* purple */
$color2: #3DB8DB; /* blue */
$color3: #F4F8F9; /* grey */
$color4: #ffffff; /* white */
$color5: #574D8D; /* dark purple */
$color6: #ACA7C7; /* light purple */
$color7: #444; /* dark grey */
$color8: #a8a8a8; /* lightgrey */
$color9: #e6e4ee; /* lighter purple */
$color10: #fcdede; /* light red */
$color11: #dbdfe0;
$color12: #c4e9f4; /* light blue */
$color13: #d9d9d9 /* lighter grey */