<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your task is completed</h1>
    <h2>Your URL: <%= @url %> has the keyword(s) you were looking for</h2>
  </body>
</html>